<h1 mat-dialog-title>Add/Modify Student</h1>
<div mat-dialog-content>
    <form class="flex flex-column" [formGroup]="studentForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input [formControl]="firstNameControl" matInput placeholder="John">
                <mat-error *ngIf="studentForm.get('firstName')?.errors?.['required']">Name is required</mat-error>
                <mat-error *ngIf="studentForm.get('firstName')?.errors?.['minlength']">Name must me at least 2 characters</mat-error>
            </mat-form-field>
        </div>
        <div >
            <mat-form-field appearance="fill">
                <mat-label>Lastname</mat-label>
                <input [formControl]="lastNameControl" matInput placeholder="Doe">
                <mat-error *ngIf="studentForm.get('lastName')?.errors?.['required']">Lastname is required</mat-error>
                <mat-error *ngIf="studentForm.get('lastName')?.errors?.['minlength']">Lastname Must be at least 2 characters</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>E-Mail</mat-label>
                <input [formControl]="emailControl" matInput placeholder="E-Mail">
                <mat-error *ngIf="studentForm.get('email')?.errors?.['required']">E-mail field is required</mat-error>
                <mat-error *ngIf="studentForm.get('email')?.errors?.['email']">Invalid format</mat-error>
            </mat-form-field>
        </div>
        <mat-slide-toggle color="primary" [formControl]="isActiveControl">Active</mat-slide-toggle>
    </form>
</div>
<div mat-dialog-actions class="ps-5">
    <button mat-flat-button color="primary" (click)="close()">Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="studentForm.value"
        [disabled]="studentForm.invalid">Save</button>
</div>