<h1>Register</h1>

<!-- <form [formGroup]="form" (ngSubmit)="register()">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="fill">
                <mat-label>User</mat-label>
                <input matInput type="text" formControlName="user">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="fill">
                <mat-label>Password</mat-label>
                <input matInput type="text" formControlName="password">
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-slide-toggle formControlName="isAdmin">Is Admin?</mat-slide-toggle>
        </div>
        <div class="col-md-2">
            <button type="submit" mat-raised-button color="primary">Register</button>
        </div>
    </div>
</form> -->