<div class="container" *ngIf="session$ | async as session">
    <button *ngIf="session.userActive?.isAdmin" mat-flat-button color="primary" class="mb-3" (click)="addCourse()">
        Add Course
    </button>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 my-3" *ngFor="let course of courses$ | async">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ course.name | uppercase }}</mat-card-title>
                    <mat-card-subtitle>{{ course.id }}</mat-card-subtitle>
                </mat-card-header>
                <img class="card-imagen" mat-card-image src="https://parentesis.com/imagesPosts/coder00.jpg" alt="">
                <mat-card-content>
                    <p>Taught by: {{ course.teacher | nameFormat: "No teacher yet" }}</p>
                    <p>Open: {{ course.isRegistrationOpen | booleanToText: "Yes": "No" }}</p>
                    <p>Starts: {{ course.startDate | date:'dd/MM/YYYY HH:mm'}}</p>
                    <p>Ends: {{ course.endDate | date:'dd/MM/YYYY HH:mm'}}</p>
                </mat-card-content>
                <mat-card-actions *ngIf="session$ | async as session" align="end">
                    <button *ngIf="session.userActive?.isAdmin" mat-raised-button color="primary" (click)="editCourse(course)">
                        Edit
                    </button>
                    <button *ngIf="session.userActive?.isAdmin" mat-button color="warn" (click)="removeCourse(course)">
                        Delete
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>