<mat-toolbar color="primary">
    <button (click)="opened=!opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Proyecto Final Angular CoderHouse</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>notifications_none</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="over">
        <mat-list>
            <mat-list-item><a>HOME</a></mat-list-item>
            <mat-list-item><a>Alumnos</a></mat-list-item>
            <mat-list-item><a>Clases</a></mat-list-item>
            <mat-list-item><a>Cursos</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>

</mat-sidenav-container>