<div mat-dialog-content>
    <form class="flex flex-column" [formGroup]="courseForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input [formControl]="nameControl" matInput placeholder="Course name">
                <mat-error *ngIf="courseForm.get('name')?.errors?.['required']">Name is required</mat-error>
                <mat-error *ngIf="courseForm.get('name')?.errors?.['minlength']">Name must me at least 2 characters</mat-error>
            </mat-form-field>
        </div>
        <div >
            <mat-form-field appearance="fill">
                <mat-label>Board</mat-label>
                <input [formControl]="boardControl" matInput placeholder="Board">
                <mat-error *ngIf="courseForm.get('board')?.errors?.['required']">Board is required</mat-error>
                <mat-error *ngIf="courseForm.get('board')?.errors?.['minlength']">Board Must be at least 2 characters</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Teacher</mat-label>
                <mat-select formControlName="teacher">
                    <mat-option *ngFor="let teacher of teachers$ | async" [value]="teacher">{{ teacher | nameFormat }}</mat-option>
                </mat-select>
                <mat-error *ngIf="courseForm.get('teacher')?.errors?.['required']">Teacher is required</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startDateControl" formControlName="startDateControl">
                <mat-datepicker-toggle matSuffix [for]="startDateControl"></mat-datepicker-toggle>
                <mat-datepicker #startDateControl></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endDateControl" formControlName="endDateControl">
                <mat-datepicker-toggle matSuffix [for]="endDateControl"></mat-datepicker-toggle>
                <mat-datepicker #endDateControl></mat-datepicker>
            </mat-form-field>
        </div>
        <mat-slide-toggle color="primary" formControlName="isRegistrationOpen">Is Registration Open</mat-slide-toggle>
    </form>
</div>
<div mat-dialog-actions class="ps-5">
    <button mat-flat-button color="primary" (click)="close()">Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="courseForm.value"
        [disabled]="courseForm.invalid">Save</button>
</div>